header {
  /*font-family: 'Loved by the King', 'cursive';*/
  margin-bottom: 20px;
  text-align: center;
}

header h1 {
  /* Default color format: RGB in hexa (RRGGBB); */
  color: #6176AC;
  font-size: 48px;
  text-align: left;
}

header h2 {
  /* The RGBA format allows us to specify a transparency level */
  color: rgba(35, 69, 103, 0.4);
  font-size: 30px;
  text-align: right;
}

