/* ==========================================================================
   External fonts
   ========================================================================== */

/* ==========================================================================
   Other CSS files
   ========================================================================== */

/*@import "example.css";*/

/* ==========================================================================
   Layout
   ========================================================================== */

body {
  padding-top: 30px;
  padding-bottom: 20px;
}

h1 {

	text-align: left;
	font-size: 15px;

}

h2 {

	font-size: 20px;
	text-align: right;

}

.textField {
	
	font-size: 14px;
	width: 40%;
	float: left;
	height: 30px;
	
}

.wrapper {
	overflow: auto;
	overflow-x: hidden;
}

searchH {
	font-size: 13px;
	font-weight: bold;
}

searchHMain{
	font-size: 16px;
	font-weight: bold;
}

.searchResult {
	background-color: #f7f7f7;
	box-shadow: 0 2px 5px #000000;
	border-radius: 15px;
	padding: 10px;
	opacity: 1;
	width: 100%;
	float: none;
	margin: auto;
	margin-bottom: 15px;
}

label {

    float: left;
    font-size: 13px;
    width: 40%;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 0px;
    
    line-height: 30px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.form-field-no-caption {
    margin-left: 20%;
    padding-left: 0.5em;
}

.multi-line-button {     
	white-space: normal; 
}

#painel-esquerda {

}

.btn:focus {
  outline: none;
}

.btn.active:focus {
  outline: none;
}

.btn:click {
	outline: none;
}

.btn-default {

	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	
}

.radioButton {
	
	margin-left: 4px;
	margin-right: 4px;
	
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#central {

  border-radius: 0px;
  height: 420px;

}

span {

  display: inline-block;
  vertical-align: middle;
  line-height: normal;   

}

#main-content {

  text-align: center;

}

#main-content i {

  font-size: 340px;

}

.welcome {

  color: rgba(223, 32, 78, 1);
  font-family: 'Open Sans', 'sans-serif';
  font-size: 25px;

}

#central p {

	font-size: 22px;
	text-align: center;

}

.navitem {

	line-height: 40px;

}

table {
    table-layout: fixed;
    width: 100%;
}

td {
	
	padding: 8px;
	overflow: hidden;
	
}

td.data {
    width: 80%;
}

td.header {
    width: 20%;
}

.navitem-multiline {

	line-height:30px;

}

.well-noBorder {

	margin-bottom: 0px;
	border-radius: 0px;
  	background-color: white;


}

.well {
	padding-top: 0px;
}

.panel-squareborder {

	margin-right: 0px;
	margin-left: 0px;
	border-radius: 0px;

}

footer {

  text-align: center;

}

.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0;

}

.nav-tabs.nav-stacked {
  border-bottom: 0;
}
/*Fix to remove space between li's*/
.nav-tabs.nav-stacked>li+li {
    margin-top: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/*
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}*/

li.active > a {
	background-image: linear-gradient(to bottom, #e8e8e8 0%, #e8e8e8 100%);
	background-color: #ddd;
	z-index: 2;
	border-right-style: none;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus
.nav-tabs.active {
  border-color: #ddd;
  z-index: 2;
}

#central > p {
  font-size: 13px;
  text-align: left;
}

#resultadosBusca > p {
	font-size: 13px;
	text-align: left;
}

#central > h1 {

  text-align: left;
  font-size: 16px;

}
